.contact-section {
  padding: 2rem;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Helvetica', sans-serif;
}

.tile {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  display: flex;
  animation: fadeIn 1s ease-in-out;
}

.left-side {
  width: 40%;
  padding-right: 2rem;
}

.right-side {
  width: 60%;
  padding-left: 2rem;
}

.left-side h1, .right-side h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.social-links a {
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.social-links img {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  transition: transform 0.3s;
}

.social-links img:hover {
  transform: scale(1.2);
}

form {
  display: flex;
  flex-direction: column;
}

form input, form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

form textarea {
  height: 150px; /* Fixed height for textarea */
  resize: none; /* Prevent resizing */
}

.char-count {
  align-self: flex-end;
  margin-bottom: 1rem;
}

.char-count.exceed {
  color: red;
}

form button {
  padding: 0.75rem;
  border: none;
  background-color: #9370DB;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #7953d2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    padding: 1rem;
  }
  .tile {
    width: 90%;
    flex-direction: column;
  }
  .left-side, .right-side {
    width: 100%;
  }
  .left-side h1, .right-side h1 {
    font-size: 1.5rem;
  }
}
