.home-section {
  padding: 2rem;
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Helvetica', sans-serif;
}

.tile {
  background-color: #ffffff;
  padding: 5rem;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(100% - 4rem);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.top-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.left-section {
  text-align: left;
}

.sub-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.location {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

.pin-emoji {
  margin-right: 0.5rem;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.icons {
  display: flex;
  margin-top: 1rem;
}

.icons a {
  margin: 0 0.5rem;
}

.icon-image {
  width: 30px;
  height: 30px;
  transition: opacity 0.3s;
}

.icon-image:hover {
  opacity: 0.7;
}

.right-section {
  text-align: right;
}

.profile-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 2rem;
}

.tile h1 {
  font-size: 3.5rem;
  color: #000000;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.tile h2 {
  font-size: 2rem;
  color: #9370DB;
  font-weight: bold;
}

.tile .content {
  color: #000000;
  max-width: 800px;
  text-align: center;
  margin-top: 1.5rem;
}

.tile .content p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.tile .content b {
  font-weight: bold;
}

.tile .content p:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .top-section {
    flex-direction: column;
  }
  .left-section, .right-section {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .profile-photo {
    width: 200px;
    height: 200px;
  }
  .location {
    justify-content: center;
  }
}
