.projects-section {
  padding: 2rem;
  color: #000000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Helvetica', sans-serif;
}

.projects-heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.cards-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  font-size: 1.5rem;
  color: #9370DB;
  font-weight: bold;
  margin: 0;
}

.card-content {
  margin-top: 1rem;
  text-align: left;
}

.github-logo {
  width: 30px;
  height: 30px;
  transition: opacity 0.3s;
  margin-bottom: 1rem;
}

.github-logo:hover {
  opacity: 0.7;
}

.card-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  font-size: 1rem;
  color: #000000;
}
